body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
  
.encabezado {
  background: url(../img/banner-bk.jpg) ;
  color: white;
  padding: 40px;
  height: 500px;
  position: relative;
}
  
.contenido1 {
  width: 80%;
  margin-left: auto; 
  margin-right: auto;
  text-align: left; 
  padding-left: 5px;
  padding-right: 45px; 
  padding-bottom: 20px; 
}

.contenido1 h1 {
  font-size: 4rem; 
  margin-bottom: 30px; 
  color: white;
}

.contenido1 p {
  font-size: 1.1rem; 
  line-height: 1.6; 
  color: rgb(221, 221, 221); 
  margin-bottom: 40px;
}

.primero {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px;
  height: 70px;
  flex-wrap: wrap;
}

.primero p , .primero img{
  cursor: pointer;
}
  
.primero img {
  width: 80px;
  height: 80px;
}
  
.botones {
  display: inline-block;
  padding: 10px 20px;
  background: #00c889;
  color: #0e1b3d;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1.0rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
  
.botones2 {
  display: inline-block;
  padding: 10px 20px;
  background: #0e1b3d;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1.0rem;
  font-weight: bold;
  transition: background-color 0.3s ease;   
}

.botones:hover {
  background-color: #0056b3; 
  color: white ;
}

.botones2:hover {
  background-color: white;
  color: #0e1b3d;
}

.proteccion {
  padding: 50px 20px 200px;
  text-align: center;
}
  
.servicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
  
.servicio {
  width: 100%;
  max-width: 350px;
}
  
.vista {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 100px 200px;
}

.seguridad {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 100px 100px 100px;

}

.vista {
  background: linear-gradient(166deg, white 50%, #00c889 50%);
  color: black;
  flex-direction: row;
}

.seguridad {
  background: linear-gradient(160deg, #00c889 50%, #00c889 150%);
  color: black;
  flex-direction: row;
}

.vista img,
.seguridad img {
  max-width: 100%;
  height: auto;
  flex: 1 1 45%;  
}

.contenido2 , .contenido3 {
  max-width: 45%;
  flex: 1 1 45%;
}

.contenido2 p , .contenido3 p {
  color: black;
  margin-bottom: 45px;
}


.contenido2 h2 , .contenido3 h2 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.precios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10%;
}

.contenido-precios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.precios h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
}

.contenedor-planes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.plan {
  padding: 40px;
  text-align: center;
  width: 300px;
}

.plan-destacado {
  padding: 40px;
  border-radius: 3px;
  text-align: center;
  width: 300px;
  background: #0e1b3d;
  color: white;
  transform: scale(1.05);
}

.plan h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.precio {
  font-size: 2em;
  font-weight: bold;
}

.precio span {
  font-size: 0.6em;
  font-weight: normal;
  color: gray;
}

.plan ul, .plan-destacado ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.plan ul li , .plan-destacado ul li {
  margin: 10px 0;
}

.plan .boton {
  display: inline-block;
  padding: 10px 15px;
  background: #fff;
  color: #0e1b3d;
  border-radius: 25px;
  border: 2px solid black;
  text-decoration: none;
  font-weight: bold;
}

.plan-destacado .boton {
  display: inline-block;
  padding: 10px 15px;
  background: #00c889;
  color: #0e1b3d;
  border-radius: 25px;
  border: 2px solid black;
  text-decoration: none;
  font-weight: bold;
}


.contacto {
  background: rgb(207, 207, 207);
  color: white;
  padding: 50px 10px;
  text-align: center;
}
  
.logos-empresas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
  
.logos-empresas img {
  max-width: 120px;
  opacity: 1;
}

.formulario-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url(../img/contact-bk.jpg);
  color: white;
  padding: 100px 20px;
}

.contacto-info {
  width: 40%; 
}

.contacto-info h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.contacto-info p {
  margin-bottom: 10px;
}

.formulario-contacto form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%; 
}

.formulario-contacto .campo {
  display: flex;
  flex-direction: column; 
}

.formulario-contacto label {
  color: #00c889; 
  margin-bottom: 5px; 
}

.formulario-contacto input,
.formulario-contacto textarea {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 2px solid #00c889;
  border-radius: 5px;
  width: 100%;
}

.formulario-contacto input {
  width: 138%; 
}

.formulario-contacto textarea {
  width: 96.2%; 
  height: 60px;
}

.formulario-contacto button {
  background: #00c889;
  color: #0e1b3d;
  width: 100%;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
}

.cajas {
  display: flex;
  align-items: center;
  gap: 125px;
}
 
footer {
  background-color: #0e1b3d;
  color: white;
  padding: 20px 0;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
footer p {
  margin: 0;
}
  
.social-icons {
  display: flex;
  gap: 20px;
}
  
.social-icon img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}
  
.social-icon:hover img {
  transform: scale(1.1);
}
  
footer .social-icons a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .contenido1 h1 {
    font-size: 2.5rem;
  }
  .primero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .vista, .seguridad {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .vista img, .seguridad img {
    max-width: 90%;
  }
  .contenido2, .contenido3 {
    max-width: 90%;
  }
  .precios {
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
  }
  .logos-empresas {
    gap: 15px;
  }
  .logos-empresas img {
    max-width: 80px;
  }
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
  .formulario-contacto {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
  }
  .formulario-contacto form {
    width: 100%;
    max-width: 400px;
  }
  .formulario-contacto input,
  .formulario-contacto textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Evita que los bordes aumenten el tamaño */
  }
  .contacto-info, .formulario-contacto form {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .contenido1 {
    width: 85%;
  }
  .vista img, .seguridad img {
    max-width: 50%;
  }
  .contenido2, .contenido3 {
    max-width: 50%;
  }
  .logos-empresas {
    gap: 50px;
  }
}

@media (min-width: 1367px) {
  .contenido1 {
    width: 80%;
  }
  .vista img, .seguridad img {
    max-width: 40%;
  }
  .contenido2, .contenido3 {
    max-width: 45%;
  }
  .logos-empresas {
    gap: 80px;
  }
}
